[submodule "unittests/googletest"]
	path = unittests/googletest
	url = https://github.com/ubbd/googletest.git
[submodule "ocf"]
	path = ocf
	url = https://github.com/ubbd/ocf.git
[submodule "libs3"]
	path = libs3
	url = https://github.com/ubbd/libs3.git
