#!/usr/bin/make -f

CC = $(DEB_HOST_GNU_TYPE)-gcc
CFLAGS := `dpkg-buildflags --get CFLAGS` -Wall
LDFLAGS := `dpkg-buildflags --get LDFLAGS`
CPPFLAGS := `dpkg-buildflags --get CPPFLAGS`

DEB_VERSION = $(shell dpkg-parsechangelog --show-field Version)

clean:
	echo clean
	make clean

override_dh_auto_configure:
	echo configure --enable-rbd-backend --enable-s3-backend --enable-cache-backend --enable-ssh-backend
	./configure --enable-rbd-backend --enable-s3-backend --enable-cache-backend --enable-ssh-backend

build:
	echo configure --enable-rbd-backend --enable-s3-backend --enable-cache-backend --enable-ssh-backend
	./configure --enable-rbd-backend --enable-s3-backend --enable-cache-backend --enable-ssh-backend
	echo make
	make

.PHONY: override_dh_strip
override_dh_strip:
	dh_strip -pubbd --dbg-package=ubbd-dbg

override_dh_shlibdeps:
	echo dep

%:
	dh $@
